/* .cartWidget {
  position: relative;
  left: 30%;
  color:white;
}

.cantCarrito {
  position: relative;
  left: 5%;
}

.cardProducto {
  width: 18rem;
  margin: 4px;
}

.cardProductos {
  margin: 4px;
  align-items: center;
  justify-content: center;
}
.cardBody {
  background-color: white;
  margin-bottom: 3px;
  text-align: center;
}

.darkMode {
  background-color:black;
  color:gainsboro;
}

.cardBodyDark {
  background-color: hsl(0, 0%, 33%);
  margin-bottom: 3px;
  text-align: center;
} */

.cardProducto {
  width: 18rem;
  margin: 4px;
  background-color: hsl(0, 0%, 97%);
}

.cardBody {
  background-color: white;
  margin-bottom: 3px;
  text-align: center;
}

.cardBodyDark {
  background-color: hsl(0, 0%, 33%);
  margin-bottom: 3px;
  text-align: center;
}

img {
  margin-top:3px;
}

.cardProductos {
  margin: 4px;
  align-items:center;
  justify-content: center;
}

.cartWidget {
  position: relative;
  right: 3%;
  color:white;
}

.nav-item {
  margin: 10px;
}

.cantCarrito {
  position: relative;
  left: 15%;
}

.darkMode {
  background-color:black;
  color:gainsboro;
}

.itemDetail {
  max-width: 540px;
  margin-top: 20px;
}